#header {
    background-image: url(../images/pattern.jpeg);
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: middle;
    top: 15px;    
    border-top: 15px;
    margin-bottom: 70px;
    margin-top: 70px;
    height: 120px;
    align-content: center;
    width: 100%;
    
    position: top ;
    text-align: center;
    word-wrap: break-word;
}

#banner {
    top: 0px;
    display: block;
}

h1 {
     font-family: Helvetica;
     font-size: 32px;
     font-weight: bold;
     color: white;
     margin-top: 25px;
     margin-bottom: 25px;
}

h2 {
    font-family: Helvetica;
    font-size: 20px;
    color: black;
    margin-top: 25px;
    margin-bottom: 25px;
}

h3 {
    font-weight: normal;
    font-family: Helvetica;
    font-size: 14px;
    color: black;
    font-weight: normal;
    margin-top: 25px;
    margin-bottom: 25px;
}

img {
    text-decoration: none;
    height: 250px;
    width: 250px;
}

span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

#brush {
    background-color: lightcoral;
    display: block;
    box-sizing: border-box;
}

h1.brush {
    background-color: mediumaquamarine;
}

h1.main {
    background-color: lightcoral;
}

h1.paint {
    background-color: skyblue;
}

