* {
    font-family: 'Times New Roman', Times, serif;
    
}

.banner {
    background-color: #ff9429;
    margin-top: 70px;
    color: white;
    text-align: center;
    padding: 110px 0;
}

#chebu {
    height: 120px;
    width: 180px;
    filter: drop-shadow(2px 2px 2px rgb(72, 72, 72));
}

#cheburashka {
    color: #ff9429;
    font-size: 100px;
    vertical-align: middle;
}

#chwitter ul {
    list-style-type: none;
    padding: 10px;

}

.avatar {
    background-image: url(../images/hero.jpeg);
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border-spacing: 10px;
    margin-bottom: 10px;
 
    
}

.bold {
    font-weight: bold;
}
    
.chwitter-section {
    padding: 20px 50px;
    ;
}
    
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0px;
    background-color: white;

}
.navbar li {
    display: inline-block;
    padding: 30px 15px;
}
.navbar a {
    text-decoration: none;
    color: black;
}

a.blue {
    color: blue;
}

.blue {
    color: blue;

    
}